<p id="notice"><%= notice %></p>

  <table class="table">
    <thead>
      <tr>

        <th>
          <b>Name:</b>
          <%# <%= @task.name %> 
        </th>

        <th>
          <b>Description:</b>
          <%# <%= @task.description %> 
        </th>

        <th>
          <b>Status:</b>
          <%# <%= @task.status %> 
        </th>

        <th>
          <b>Project:</b>
          <%# <%= @task.project %> 
        </th>
      </tr>
     </thead> 
     <tbody>
         <tr>
            <td>  <%= @task.name %></td>
            <td>  <%= @task.description %></td>
            <td>  <%= @task.status %></td>
            <td>  <%= @task.project %></td>
      </tbody>
    </table>  


<%= link_to 'Edit', edit_project_task_path(@task.project, @task) %> |
<%= link_to 'Back', project_tasks_path(@task.project) %>

